pjlink/example.flow
[
  {
    "id": "22947ef0.dd6b82",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "on",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 192,
    "y": 343,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "5c4e7429.a3b18c",
    "type": "debug",
    "name": "Error",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 542,
    "y": 544,
    "z": "fcef9dcc.03106",
    "wires": []
  },
  {
    "id": "316b7b12.ce9484",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "off",
    "payloadType": "string",
    "repeat": "",
    "crontab": "00 20 * * *",
    "once": false,
    "x": 192,
    "y": 391,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "a52c29e3.5ad3d8",
    "type": "pjlink",
    "ip": "10.10.80.117",
    "port": 4352,
    "name": "",
    "x": 407,
    "y": 519,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "ae736301.518ca"
      ],
      [
        "5c4e7429.a3b18c"
      ]
    ]
  },
  {
    "id": "ac02fb71.53fd08",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "getname",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 194,
    "y": 459,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "ae736301.518ca",
    "type": "debug",
    "name": "Out",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 541,
    "y": 498,
    "z": "fcef9dcc.03106",
    "wires": []
  },
  {
    "id": "1da26669.e25d9a",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "getmanufacturer",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 220,
    "y": 518,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "4bbedb6c.b44124",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "getlamps",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 197,
    "y": 566,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "5ea2be91.a15d4",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "getinputs",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 197,
    "y": 617,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "6bc294bd.943d6c",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "getinfo",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 193,
    "y": 733,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "adb1369a.524ec8",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "getpowerstate",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 213,
    "y": 782,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "b4e1833a.4b1e8",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "getinput",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 193,
    "y": 679,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "d643d32d.29bc3",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "getmodel",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 199,
    "y": 837,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "4d36792e.b2c988",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "getmute",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 197,
    "y": 890,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "5240db17.adbf24",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "getclass",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 196,
    "y": 935,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "66abb38.f99544c",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "geterrors",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 199,
    "y": 980,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "ecf62a9a.1309d8",
    "type": "template",
    "name": "Set input",
    "field": "payload",
    "template": "{\"setinput\": {\"source\": 3, \"channel\": 3}}",
    "x": 225,
    "y": 1052,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a3c3d3d9.5c3c3"
      ]
    ]
  },
  {
    "id": "494f3bc0.b6b0c4",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "none",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 92,
    "y": 1052,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "ecf62a9a.1309d8"
      ]
    ]
  },
  {
    "id": "a3c3d3d9.5c3c3",
    "type": "json",
    "name": "",
    "x": 362,
    "y": 1088,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a52c29e3.5ad3d8"
      ]
    ]
  },
  {
    "id": "ed8f402a.1270c",
    "type": "template",
    "name": "Set mute",
    "field": "payload",
    "template": "{\"setmute\": {{payload}}}",
    "x": 226,
    "y": 1127,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "a3c3d3d9.5c3c3"
      ]
    ]
  },
  {
    "id": "19228e42.e6dd72",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "true",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 94,
    "y": 1104,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "ed8f402a.1270c"
      ]
    ]
  },
  {
    "id": "805c4817.7fa3b8",
    "type": "inject",
    "name": "",
    "topic": "",
    "payload": "false",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 94,
    "y": 1151,
    "z": "fcef9dcc.03106",
    "wires": [
      [
        "ed8f402a.1270c"
      ]
    ]
  }
]